@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Padauk';
  src: url('./assets/fonts/Padauk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Prevents invisible text while loading */
}

@font-face {
  font-family: 'Padauk';
  src: url('./assets/fonts/Padauk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}